{
  "printWidth": 120,
  "quoteProps": "consistent",
  "vueIndentScriptAndStyle": true,
  "plugins": [
    "prettier-plugin-astro",
    "@ianvs/prettier-plugin-sort-imports",
    "@xeonlink/prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^@app/(.*)$",
    "",
    "^@pages/(.*)$",
    "",
    "^@features/(.*)$",
    "",
    "^@entities/(.*)$",
    "",
    "^@shared/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(?!.*[.]css$)[./].*$",
    "",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "6.0.3",
  "importOrderCaseSensitive": false,
  "tailwindStylesheet": "./src/app/styles/global.css",
  "tailwindFunctions": ["clsx", "tw", "tv"],
  "attributeGroups": ["$DEFAULT", "^data-"],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.config.mjs", "*.config.cjs", "*.config.js", "*.config.ts"],
      "options": {
        "plugins": ["@ianvs/prettier-plugin-sort-imports"]
      }
    },
    {
      "files": "**/*.test.ts",
      "options": {
        "importOrder": ["^vitest", "<THIRD_PARTY_MODULES>", "^[.]"]
      }
    }
  ]
}
