/* Inline code */
.prose code:not(.expressive-code code) {
  display: inline-block;
  background-color: var(--color-blue-50);
  border-radius: var(--radius-md);
  border: 0.5px solid var(--color-blue-300);
  color: var(--color-blue-950);
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  padding: 2.5px 3.5px;
  font-feature-settings:
    'liga' 0,
    'calt' 0;
  -webkit-font-feature-settings:
    'liga' 0,
    'calt' 0;
}

.prose code:not(.expressive-code code)::before,
.prose code:not(.expressive-code code)::after {
  content: "";
}

/* Links */
.prose a:not(:is(h1, h2, h3, h4, h5, h6) a) {
  text-decoration: underline;
  text-decoration-color: var(--color-muted);
  text-decoration-thickness: 3px;
  transition: text-decoration-color 150ms ease-out;
}

.prose a:not(:is(h1, h2, h3, h4, h5, h6) a):hover {
  text-decoration-color: var(--color-primary);
}

/* Heading Links */
.prose :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
  scroll-margin: calc(var(--spacing) * 20)
}

.prose :is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  font-family: inherit;
}

.prose :is(h1, h2, h3, h4, h5, h6) a::before {
  content: "#";
  position: absolute;
  font-size: 1em;
  text-decoration: none;
  left: -1em;
  opacity: 0;
  transition: opacity 150ms ease-out;
  color: var(--color-indigo-400);
}

.prose :is(h1, h2, h3, h4, h5, h6):hover a::before {
  opacity: 1;
}

.prose a[href^="https"]::after {
  content: "";
  display: inline-block;
  width: 1.05em;
  height: 1.05em;
  margin-inline-start: 0.25em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3C!-- Icon from Phosphor by Phosphor Icons - https://github.com/phosphor-icons/core/blob/main/LICENSE --%3E%3Cpath fill='currentColor' d='M228 104a12 12 0 0 1-24 0V69l-59.51 59.51a12 12 0 0 1-17-17L187 52h-35a12 12 0 0 1 0-24h64a12 12 0 0 1 12 12Zm-44 24a12 12 0 0 0-12 12v64H52V84h64a12 12 0 0 0 0-24H48a20 20 0 0 0-20 20v128a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20v-68a12 12 0 0 0-12-12'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* Paragraphs */
.prose > :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  line-height: 1.75;
}

/* Callouts */
details p {
  margin: 0;
}

/* Blockquote */
:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  /* Reset .prose styles */
  border-inline-start: 0px;

  position: relative;
  padding-inline-start: 2rem;
  overflow: hidden;

  & p:nth-of-type(2) {
    color: color-mix(in oklab, var(--color-primary) 80%, transparent);
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1rem;
  }
}

:where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 256 256'%3E%3C!-- Icon from Phosphor by Phosphor Icons - https://github.com/phosphor-icons/core/blob/main/LICENSE --%3E%3Cpath fill='oklch%2887%25%200.065%20274.039%29' d='M116 72v88a48.05 48.05 0 0 1-48 48a8 8 0 0 1 0-16a32 32 0 0 0 32-32v-8H40a16 16 0 0 1-16-16V72a16 16 0 0 1 16-16h60a16 16 0 0 1 16 16m100-16h-60a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h60v8a32 32 0 0 1-32 32a8 8 0 0 0 0 16a48.05 48.05 0 0 0 48-48V72a16 16 0 0 0-16-16'/%3E%3C/svg%3E");
  position: absolute;
  left: 0px;
}

:where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 25px;
    width: 2px;
    height: 100%;
    background-color: oklch(87% 0.065 274.039);
}

/* Tables */
.prose table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 1.75em 0;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

/* Table cells */
.prose th,
.prose td {
  border: none;
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  padding: 0.5em 1em;
  text-align: left;
}

.prose th:last-child,
.prose td:last-child {
  border-right: none;
}

.prose tr:last-child td {
  border-bottom: none;
}

.prose th {
  background: var(--color-muted);
}

/* Images */
.prose img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2em 0;
}

.img-placeholder {
  background: var(--color-muted-foreground);
  display: block;
}

/* Loading state for images */
.prose img[loading='lazy'] {
  opacity: 0;
  animation: fadeIn 300ms ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prose figure {
  margin-bottom: 2em;
  text-align: center;
}

.prose figure img {
  margin-bottom: 1em;
}

.prose figure figcaption {
  color: var(--color-muted-foreground);
  font-size: var(--text-sm);
  text-align: center;
}

.prose p > img {
  position: relative;
  margin-bottom: 2em;
}

.prose p > img::after {
  content: attr(alt);
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--color-muted-foreground);
  font-size: var(--text-sm);
  margin-top: 0.75em;
}

.prose .img-caption {
  display: block;
  text-align: center;
  color: var(--color-muted-foreground);
  font-size: var(--text-sm);
  margin-bottom: 2em;
}

/* Keyboard input */
.prose kbd {
  font-family: var(--mono);
  font-size: var(--text-xs);
  border: 1px solid var(--color-border);
  padding: 1px 4px;
  border-radius: 5px;
  min-width: 1.75em;
  display: inline-block;
  text-align: center;
}

/* Video */
.prose iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 6px;
  margin: 0.25em 0 0 0;
}

/* Marks */
.prose mark {
  background-color: var(--color-indigo-100);
  color: var(--color-indigo-950);
  padding: 3px 2px;
  border-radius: var(--radius-sm);
}
